<!DOCTYPE html>
<!--
Name -- Andrew Juang, Eliza Knapp, Patrick Ging, Yuqing Wu
SoftDev
P01 -- The Biggest Loser
-->

<html>

<head>
    <title> RESPONSE PAGE </title>
</head>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

<body>
    <h1 class="header"> Name -- Andrew Juang<br>
        Waaaa hooo HAAAH, {{username}} </h1>
    <div>
        <button id="dotButton">Dot</button>
        <button id="stopButton">Stop</button>
    </div>
    <canvas id="board" width="600" height="600"></canvas>

    <script type="text/javascript">
        var board = {{board|tojson}}
    </script>
    <script src="static/js/board.js"></script>
</body>

</html>
